*.zip
*.rar
*.7z

*.h5
*.pth
*.pt
*.ckpt
*.keras

*.csv
*.xlsx

__pycache__/
.ipynb_checkpoints/

.venv/
.env/

node_modules/

*.mp4
*.avi
**/checkpoint-*/
*.safetensors
optimizer.pt

.DS_Store
data/
datasets/
Week5/Day4/ExerciceXP/household_power_consumption.txt
Week6\Day5\DailyChallenge\distilbert-tweet-sentiment
